GOOGLE_ID → Google OAuth Client ID  
GOOGLE_CLIENT_SECRET → Google OAuth Secret  
MONGODB_URI → MongoDB Atlas connection string  
NEXTAUTH_URL → App URL  
NEXTAUTH_SECRET → Authentication secret  

How to Generate secret:
Run below command in new Terminal in current project
openssl rand -base64 32  
or 
node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"

they will emit output paste that here

---------------------------------------------------------


GOOGLE_ID=  
GOOGLE_CLIENT_SECRET=  
MONGODB_URI=  
NEXTAUTH_URL=http://localhost:3000  
NEXTAUTH_URL_INTERNAL=http://localhost:3000  
NEXTAUTH_SECRET= 